// colors
$text-blue: #242c53;
$text-grey: #d0d0d0;
$list-item: #ffefeb;
$card-item: #fafafa;

$primary: #f3613a;
$secondary: #1e1e26;
$white: #ffffff;

$active-primary: #f3613a;
$active-font-primary: #ffffff;
$active-secondary: #ffffff;
$active-font-secondary: #f3613a;

$hover-primary: #fb8e75;
$hover-font-primary: #ffffff;
$hover-secondary: #ffffff;
$hover-font-secondary: #f0c1b7;

$button-radius: 2rem;

// font sizes
$paragraph: 1rem;
$heading: 3.125rem;
$heading-mobile: 2.25rem;
$subheading: 2.25rem;
$subheading-mobile: 1.875rem;
$listheading: 1rem;

$normal: 0.875rem;
$small: 0.75rem;

// font weights
$bold: 700;
$medium: 500;
$regular: 400;

// line heights
$line-height-paragraph: 160%;
$line-height-paragraph-mobile: 200%;

$line-height-card: 160%;
$line-height-card-mobile: 180%;

// margins
$mt-header: 4.375rem;
$mt-header-mobile: 2.5rem;
$mt-list-item: 3.125rem;
$mt-list-item-mobile: 2.8rem;
$mt-title: 11.25rem;
$mt-title-mobile: 6rem;
