@import "../../utils/variables.utils.scss";

.footer {
  width: 100%;
  padding: 3.125rem 0 2rem;
  background-color: $secondary;
  color: $white;
}

.footer--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer--bar {
  width: 100%;
  display: flex;
  gap: 0.5rem;

  input {
    color: $text-grey;
    &::placeholder {
      color: $text-grey;
    }

    width: 100%;
    border: none;
    border-radius: $button-radius;
    padding: 0.75rem 1.5rem;

    &:focus {
      outline: none;
    }
  }
}

.footer--links {
  width: 80%;
  margin: 3.125rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 4rem;
  text-align: left;

  a {
    width: fit-content;
    text-decoration: none;
    color: inherit;
    font-size: $normal;

    &:hover {
      color: $primary;
    }
  }
}

.footer--socials {
  display: flex;
  gap: 2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &:hover {
      filter: invert(60%) sepia(100%) saturate(3897%) hue-rotate(339deg)
        brightness(99%) contrast(92%);
    }
  }

  a {
    width: 33px;
    height: 33px;
    text-decoration: none;
    color: inherit;
    font-size: $normal;
  }
}

.footer--logo {
  margin: 3.5rem 0;

  img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
      brightness(103%) contrast(103%);
  }
}

.footer--copyright {
  color: $text-grey;
  font-size: $small;
}
