@import "../../utils/variables.utils.scss";
.comments {
  width: 100%;
  text-align: center;

  margin-top: 4rem;

  @media screen and (min-width: 1024px) {
    margin-top: 9rem;
  }
}

.slider--wrapper {
  margin-top: 3.75rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media screen and (min-width: 768px) {
    margin-bottom: 2.8rem;
    scroll-snap-type: x proximity;
  }
}

.slider {
  display: flex;
  gap: 1.875rem;
  width: min-content;
}

.slider--dots {
  margin: 1.5rem 0 2.8rem;

  display: flex;
  justify-content: center;
  gap: 0.25rem;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.slider--dot {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  border: 1px solid $primary;

  &.--active {
    background-color: $primary;
  }
}
