@import "../../utils/variables.utils.scss";

.benefits {
  @media screen and (min-width: 1024px) {
    margin-top: 11.25rem;
  }
}

.benefits--inner {
  position: relative;

  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.benefits--content {
  max-width: $max-content-width;

  @media screen and (min-width: 768px) {
    text-align: center;
    margin: 0 auto;
  }
  @media screen and (min-width: 1024px) {
    text-align: left;
    margin: 0;
    width: 40%;
  }
}

.benefits--title {
  margin: 6rem 0 1rem;

  @media screen and (min-width: 1024px) {
    margin-top: 0;
  }
}

.benefits--text {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 100%;
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 90%;
  }
}

.benefits--items {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}

.benefits--bg {
  z-index: -1;

  display: none;
  width: 814px;
  height: 814px;

  position: absolute;
  bottom: -36rem;
  left: -40rem;

  @media screen and (min-width: 1024px) {
    display: block;
  }

  animation: moveBenefits 20s linear infinite;
}

@keyframes moveBenefits {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5%, -10%);
  }
  50% {
    transform: translate(10%, -25%);
  }
  75% {
    transform: translate(15%, 0%);
  }
  100% {
    transform: translate(0, 0);
  }
}
