@import "../../utils/variables.utils.scss";

.banner {
  margin-top: 2.5rem;
  background: $primary;
  background-image: url(../../assets/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.banner--title {
  width: 95%;
  color: $white;
  margin: 0 auto 2rem;
}

.banner--content {
  margin: 6rem auto;
}
